body{
    margin: 200px;
    padding: 200px;
    background: url(ruka_hentai.jpg);   
    background: size 100%; 
    background-position: center;
    font-family: sans-serif;
}

#login-principal{

    text-align: center;
}