*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.container{
    height: 100%;
    background:url(ruka_enoja.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}