body{
    font-family: Arial, Helvetica;
    background: rgb(255, 255, 255);
}

.navigation ul li {
    display: inline-block
}
    .navigation ul li a:hover {
        background: blanchedalmond;
    }

        .navigation ul li a:hover {
            background: rgb(8, 8, 8);
        }