*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans ";
    color: #fff;

}

section{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("https://pa1.narvii.com/6204/e93514cf2d95d0ca572c3f365041b5b9d984241b_hq.gif");
    background-size: cover;
    background-position: center center;
}
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(41, 46, 48, 0.479),rgba(0,0,0,03));
    width: 380px;
    padding: 50px 70px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px rgb(92, 18, 18);
}
h1{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}
.mb-3{
    width: 100%;
    display: block;
    padding: 15px;
    color: #fff;
    border: none;
    outline: none;
    margin: 1em 0;


}

.btn[type="submit"]{
    background: #fff;
    color: #000;
    text-transform: uppercase;
    font-size: 1.5em;
    opacity: .7;
    transition: opacity ease;
    background-position: center center;
    transform: translate(70%,-25%);
}
.btn input[type="submit"]:hover{
    opacity: 1;
}
.link{
    text-align: center;
}
.link a{
    text-decoration: none;
    color: #fff;
    opacity: .6;
    transition: opacity .3s ease;
    transform: translate(-50%,50%);
    position: absolute;

}
.link a:hover{
    opacity: 1 ;
}
